---
import Section from "../Section.astro";

import { projects } from "@cv";
---

<Section title="Projects">
  <ul>
    {
      projects.map(({ url, description, highlights, name, isActive }) => {
        return (
          <li>
            <article>
              <header>
                <a href={url} title={`Ver el proyecto ${name}`}>
                  <h3>{name}</h3>
                </a>
                <p>{description}</p>
              </header>
              <footer>
                {highlights.map((highlight) => {
                  return <li>{highlight}</li>;
                })}
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }

  article {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
  }
</style>
